<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Gestión de Activos Fijos</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="latitude && longitude" class="location-container">
    <p><strong>Ubicación actual:</strong></p>
    <p>Latitud: {{ latitude }}</p>
    <p>Longitud: {{ longitude }}</p>
  
    <!-- Mapa de Google Maps -->
    <google-map class="map-container" [center]="center" [zoom]="zoom">
      <map-marker [position]="center"></map-marker>
    </google-map>
  </div>

  <div class="video-container">
    <div class="video-card" *ngFor="let video of videos">
      <iframe
        [src]="sanitizer.bypassSecurityTrustResourceUrl('https://www.youtube.com/embed/' + video.id.videoId)"
        frameborder="0"
        allowfullscreen
      ></iframe>
      <p>{{ video.snippet.title }}</p>
    </div>
  </div>

  <ion-button expand="block" (click)="recordVideo()">Grabar Video</ion-button>
  <ion-button expand="block" (click)="shareVideo()">Compartir Video</ion-button>

  <ion-content class="ion-padding">
    <ion-header>
      <ion-toolbar>
        <ion-title></ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="openAddActivoModal()">Agregar Activo</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>


    <ion-grid>
  <ion-row class="header-row">
    <ion-col>Marca</ion-col>
    <ion-col>Modelo</ion-col>
    <ion-col>Ubicación</ion-col>
    <ion-col>Código de Barras</ion-col>
    <ion-col>Foto</ion-col>
    <ion-col>Acciones</ion-col>
  </ion-row>
  
  <ion-row *ngFor="let activo of activos" class="data-row">
    <ion-col>{{ activo.marca }}</ion-col>
    <ion-col>{{ activo.modelo }}</ion-col>
    <ion-col>{{ activo.ubicacion }}</ion-col>
    <ion-col>{{ activo.codigoBarras }}</ion-col>
    <ion-col>
      <ion-img [src]="activo.foto" alt="Foto de {{ activo.marca }}"></ion-img>
    </ion-col>
    <ion-col>
      <ion-button fill="outline" (click)="openEditActivoModal(activo)">
        <ion-icon slot="start" name="pencil"></ion-icon> Editar
      </ion-button>
      <ion-button color="danger" fill="outline" (click)="deleteActivo(activo)">
        <ion-icon slot="start" name="trash"></ion-icon> Eliminar
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

    
    

  <ion-modal [isOpen]="isModalOpen" (willDismiss)="closeModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ editing ? 'Editar Activo' : 'Agregar Activo' }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeModal()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <form #activoForm="ngForm" (ngSubmit)="saveActivo(activoForm)">
          <!-- Campos del formulario -->
          <ion-item>
            <ion-label position="stacked">Marca</ion-label>
            <ion-input [(ngModel)]="currentActivo.marca" name="marca" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Modelo</ion-label>
            <ion-input [(ngModel)]="currentActivo.modelo" name="modelo" required></ion-input>
          </ion-item>
          <ion-item>
          <label>Ubicación:</label>
            <select name="ubicacion" [(ngModel)]="currentActivo.ubicacion" required>
              <option *ngFor="let loc of locations" [value]="loc">{{ loc }}</option>
            </select>
          </ion-item>

    
          <ion-item>
            <ion-label position="stacked">Código de Barras</ion-label>
            <ion-input [(ngModel)]="currentActivo.codigoBarras" name="codigoBarras" required></ion-input>
          </ion-item>
          <ion-item>
            <label>Estado:</label>
    <select name="estado" [(ngModel)]="currentActivo.estado" required>
      <option *ngFor="let state of states" [value]="state">{{ state }}</option>
    </select>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Foto</ion-label>
            <ion-button (click)="takePicture()">Tomar Foto</ion-button>
          </ion-item>
          <ion-item *ngIf="currentActivo.foto">
            <ion-img [src]="currentActivo.foto"></ion-img>
          </ion-item>
          <ion-footer>
            <ion-button expand="block" type="submit">Guardar Activo</ion-button>
          </ion-footer>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
