ion-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  ion-row, ion-col {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .photo-preview img {
    max-width: 100px;
    max-height: 100px;
  }
  
  .small-image {
    width: 50px; /* Ajusta el tamaño que desees */
    height: 50px; /* Mantener la proporción de la imagen */
    object-fit: cover; /* Asegura que la imagen mantenga sus proporciones */
  }

  .map-container {
    height: 400px;
    width: 100%;
  }
  
  