<ion-header>
</ion-header>

<ion-content [fullscreen]="true" class="home-background">
  <div class="register-container">
    <ion-card class="register-card" aria-labelledby="register-title">

      <ion-card-header>
        <ion-card-title id="register-title">Crea una cuenta</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form (ngSubmit)="register()">
          <ion-item>
            <ion-label position="stacked">Nombre</ion-label>
            <ion-input 
              type="text" 
              [(ngModel)]="name" 
              name="name" 
              placeholder="Ingrese su nombre"
              required>
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Correo Electrónico</ion-label>
            <ion-input 
              type="email" 
              [(ngModel)]="email" 
              name="email" 
              placeholder="Ingrese su correo"
              required 
              inputmode="email">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Contraseña</ion-label>
            <ion-input 
              type="password" 
              [(ngModel)]="password" 
              name="password" 
              placeholder="Ingrese su contraseña"
              required>
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Confirmar Contraseña</ion-label>
            <ion-input 
              type="password" 
              [(ngModel)]="confirmPassword" 
              name="confirmPassword" 
              placeholder="Confirme su contraseña"
              required>
            </ion-input>
          </ion-item>

          <!-- Mensaje de error -->
          <ion-text color="danger" *ngIf="errorMessage">
            {{ errorMessage }}
          </ion-text>

          <ion-button expand="block" type="submit" color="primary">Registrarse</ion-button>
        </form>
      </ion-card-content>

      <div class="login-link-container">
        <p class="login-link-text">¿Ya tienes cuenta?</p>
        <ion-button expand="block" fill="outline" color="secondary" routerLink="/login">
          Iniciar Sesión
        </ion-button>
      </div>
    </ion-card>
  </div>
</ion-content>